<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Yedi Emailer</title>
     {% load humanize %}
    <style>
    .invoice-box{
        max-width:100%;
        margin:auto;
        padding:30px;
        border:1px solid #eee;
        box-shadow:0 0 10px rgba(0, 0, 0, .15);
        font-size:16px;
        line-height:24px;
        font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color:#555;
    }
    
    .invoice-box table{
        width:100%;
        line-height:inherit;
        text-align:left;
    }
    
    .invoice-box table td{
        padding:5px;
        vertical-align:top;
    }
    
    .invoice-box table tr td:nth-child(2){
        text-align:right;
    }
    
    .invoice-box table tr.top table td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.top table td.title{
        font-size:45px;
        line-height:45px;
        color:#333;
    }
    
    .invoice-box table tr.information table td{
        padding-bottom:40px;
    }
    
    .invoice-box table tr.heading td{
        background:#eee;
        border-bottom:1px solid #ddd;
        font-weight:bold;
    }
    
    .invoice-box table tr.details td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom:1px solid #eee;
    }
    
    .invoice-box table tr.item.last td{
        border-bottom:none;
    }
    
    .invoice-box table tr.total td:nth-child(2){
        border-top:2px solid #eee;
        font-weight:bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td{
            width:100%;
            display:block;
            text-align:center;
        }
        
        .invoice-box table tr.information table td{
            width:100%;
            display:block;
            text-align:center;
        }
    }
    </style>
</head>

<body >
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr  >
                            <img src="https://cdn2.yedi.com.ng/media/Images/Logos/email-header-3.png" style="width:100%;">
                            <td style="background-color:#cbe85a" >
                                
                            
                            
                                Order ID #:  {{ orderid }}<br>
                                Created: {{ neworder.created |date:"D d M Y" }} {{ neworder.created |time:"H:i" }}<br>
                                
                        
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                            
                                Hello {{ seller.first_name }}, <br>
                                You have a new transaction on Yedi. Please login to notify your buyer of its availability under <strong>'Account > Transactions</strong>.
                                <br><br>Please reply this email with your pick up address if item is in stock<br><br>



                                Reply this email for any help you would like!
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
        </table>
        <table style="width: auto%">
            

            
            <tr class="heading">

                <td>
                    Image
                </td>
                <td>
                    Item
                </td>
                <td>
                    Qty
                </td>
                
                <td>
                    Price
                </td>
            </tr>
            <tr class="item">

                <td >
                    <img src="https://cdn2.yedi.com.ng/media/{{ imageurl }}" style="height: 100px"/>
                </td>
                <td >
                    {{ product.name }}
                </td>
                <td >
                    {{ lineitem.quantity }}
                </td>

                <td>
                    {{ product.price | floatformat:2| intcomma }}
                </td>
            </tr>

        </table>
        <p style="font-size: 8px; color: dodgerblue">Have any problems with this transaction? Dont have some or all items in stock? Simply reply to this email and we will be glad to assist or give use a call on 09068822180</p>
    </div>
</body>
</html>
