{% load humanize %}
<style>

    .invoice-box {
        max-width: 100%;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    ol.progtrckr {
        margin: 0;
        padding: 0;
        list-style-type none;
    }

    ol.progtrckr li {
        display: inline-block;
        text-align: center;
        line-height: 3.5em;
    }

    ol.progtrckr[data-progtrckr-steps="2"] li {
        width: 49%;
    }

    ol.progtrckr[data-progtrckr-steps="3"] li {
        width: 33%;
    }

    ol.progtrckr[data-progtrckr-steps="4"] li {
        width: 24%;
    }

    ol.progtrckr[data-progtrckr-steps="5"] li {
        width: 19%;
    }

    ol.progtrckr[data-progtrckr-steps="6"] li {
        width: 16%;
    }

    ol.progtrckr[data-progtrckr-steps="7"] li {
        width: 14%;
    }

    ol.progtrckr[data-progtrckr-steps="8"] li {
        width: 12%;
    }

    ol.progtrckr[data-progtrckr-steps="9"] li {
        width: 11%;
    }

    ol.progtrckr li.progtrckr-done {
        color: black;
        border-bottom: 4px solid yellowgreen;
    }

    ol.progtrckr li.progtrckr-todo {
        color: silver;
        border-bottom: 4px solid silver;
    }

    ol.progtrckr li:after {
        content: "\00a0\00a0";
    }

    ol.progtrckr li:before {
        position: relative;
        bottom: -2.5em;
        float: left;
        left: 50%;
        line-height: 1em;
    }

    ol.progtrckr li.progtrckr-done:before {
        content: "\2713";
        color: white;
        background-color: yellowgreen;
        height: 1.2em;
        width: 1.2em;
        line-height: 1.2em;
        border: none;
        border-radius: 1.2em;
    }

    ol.progtrckr li.progtrckr-todo:before {
        content: "\039F";
        color: silver;
        background-color: white;
        font-size: 1.2em;
        bottom: -1.2em;
    }


</style>
<center>
    <img src="https://cdn.yedi.com.ng/media/Images/Logos/email-header-3.png" style="width:100%; max-width:300px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
           id="m_7260988823915256075bodyTable" style="background:#ffffff">
        <tr>
            <td align="center" valign="top" id="m_7260988823915256075bodyCell">
                <table border="0" cellpadding="0" cellspacing="0" id="m_7260988823915256075templateContainer"
                       width="550" style="border-top:4px solid #fccc0e;border-bottom:4px solid #f44289;margin:20px 0">
                    <tr>
                        <td valign="top" class="m_7260988823915256075bodyContent"
                            style="font-family:Helvetica,Arial;font-weight:300;font-size:15px;padding:40px 40px 20px;line-height:200%">
                            <h1 style="font-family:Helvetica,Arial;font-size:24px;font-style:normal;font-weight:300;margin-bottom:10px;text-transform:capitalize;line-height:1.4em">
                                Welcome to Yedi 2.0</h1>
                            Hello {{ user.first_name }},({{ user.username }}) <br>
                            <p>
                                We are glad to introduce to you Yedi 2.0!<br>
                                Yedi Mobile App aims to be the go-to app for your daily essentials to
                                the occassional luxuries.</p><p>

                            <a href="https://play.google.com/store/apps/details?id=ng.com.app.yedi">Download from Google Play Store</a>
                            <br>
                            <a href="https://itunes.apple.com/am/app/yedi-app/id1202290664?mt=8">Download from Apple App Store</a>
                            <br>
                            <br>

                            After downloading Yedi App, you can go ahead and login with your existing username and new password: <br>
                            <b>Username: {{ user.username }}<br>
                                Password:  temppass974694</b>
                            <br><br>
                            Heres what the updated app looks like below. Easy to navigate, search and explore. A haven for both buyers and sellers!
                        <br><br>
                            <table style="width: 100%">
                                <tr class="heading">

                                    <td>
                                        <img src="https://cdn2.yedi.com.ng/media/Images/Logos/ss1.png" style="height: 300px"/>
                                    </td>
                                    <td>

                                    </td><td>

                                    </td><td>

                                    </td>
                                    <td>
                                        <img src="https://cdn2.yedi.com.ng/media/Images/Logos/ss4.png" style="height: 300px"/>
                                    </td><td>

                                    </td><td>

                                    </td><td>

                                    </td>
                                    <td>
                                        <img src="https://cdn2.yedi.com.ng/media/Images/Logos/ss5.png" style="height: 300px"/>
                                    </td>

                                </tr>
                             </table>


                            <br>
                            We are just starting out, so pardon our small inventory,
                            but you might still find something you would like to order. <br>Enjoy!</p>



                            {% if profile.isSeller %}
                                <p>Just a few Seller FAQs to get you started.</p>
                            <h5 class="title">Benefits of Selling on Yedi?</h5>
                                    <p>


                                        <ul>
                                            <li>Your products will be given exposure to new customers </li>
                                            <li>You already do Product Photography for your products?
                                                Then be sure to see your product on a Yedi Sponsored Ad.
                                                And if you don't do Product Photography for your products,
                                                we can help with that!</li>
                                            <li>Exposure to Possible Bill Board adverts at The capital Hub </li>
                                            <li>Exclusive reserved seller spaces at The Atrium Sale (hosted by @thecapitalhub (instagram handle) for the highest gross sellers!) </li>
                                            <li>Hosting Sale events for Yedi Sellers </li>
                                            <li>Dedicated day of the week for FREE DELIVERY to your buyers </li>
                                            <li>No need to worry about your logistics, we handle all of that </li>
                                            <li>We are 100% responsible for any item we pick up from you as a Seller </li>
                                            <li>Your shoppers feel more secure knowing they will get their money back if the product never arrives. Thus eliminating Scam Sellers we are all so weary of. </li>

                                        </ul>



                                <h5 class="title">How it works?</h5>
                                    <p>
                                        <ul>
                                            <li>
                                             Seller uploads beautiful photos of products
                                        </li>

                                            <li>Buyer falls in love places an order</li>
                                            <li>Seller receives transaction notification</li>
                                        <li>Seller confirms availability of product to buyer via app</li>
                                        <li>Buyer is notified of stock level (if unavailable, order ends here)</li>
                                        <li>Yedi Deliveries dispatch rider collects the product from seller</li>
                                        <li>Yedi Staff confirms accuracy of product listing with collected item</li>
                                        <li>Yedi Deliveries dispatch rider delivers to buyer and collects cash on sellers behalf</li>
                                        <li>Buyer is happy</li>
                                        <li>Commission is removed and Seller gets cash from Yedi Office or bank transfer</li>
                                        <li>Seller is happy as well</li>
                                        </ul>



                                   </p>
                               <h5 class="title">What is the Commission Charged per product sold?</h5>
                                <p>We charge a variable commision rate ranging from 5% to 8% per item sold on Yedi.

                                        The seller is responsible for any bank charges
                                        a bank transfer of your sale may incure (usually N50).
                                   Your funds from a sale will get released to you within 2 working days after the customer has accepted the item and is satisfied with the product after delivery.</p>

                                <h5 class="title">Delivery?</h5>
                                <p>We have a dedicated rider that picks up your items from a sale and delivers to
                                your buyer. We aim to achieve same-day deliveries because who doesnt love them?</p>

                                <h5 class="title">Product Photos?</h5>
                                <p>If you would like to book a Product Photography Session, Please send an email to hello@yedi.com.ng.
                                    Each product listing must be specific to the description of one item,
                                    We currently do not support product variations e.g. color or size.</p>
                                <h5 class="title">Listing Fees?</h5>
                                <p>There are currently no listing fees for Yedi!</p>
                            {% endif %}

                        {% if not profile.isSeller %}
                            <h5 class="title">How do i become a seller?</h5>
                                <p>You can select 'I want to Sell on Yedi' during sign up or by sending an SMS to 08033638686 requesting to be a seller. Don't forget to include your username, full name and email address! </p>
                        {% endif %}
                            <h5 class="title">Have more questions?</h5>
                                <p>Simply reply this email.</p>
                    </tr>


                    <tr>
                        <td valign="top" class="m_7260988823915256075bodyContent"
                            style="font-family:Helvetica,Arial;font-weight:300;font-size:14px;padding:40px;line-height:200%;text-align:center">
                            <p style="text-align:left">
                                Yours,
                            </p>

                            <p style="text-align:left">
                                <strong style="font-weight:normal">Yedi App Team</strong>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
    <p style="font-size: 8px; color: dodgerblue"></p>

</center>
        