<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Yedi Emailer</title>
     {% load humanize %}
    <style>
    .invoice-box{
        max-width:100%;
        margin:auto;
        padding:30px;
        border:1px solid #eee;
        box-shadow:0 0 10px rgba(0, 0, 0, .15);
        font-size:16px;
        line-height:24px;
        font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color:#555;
    }
    
    .invoice-box table{
        width:100%;
        line-height:inherit;
        text-align:left;
    }
    
    .invoice-box table td{
        padding:5px;
        vertical-align:top;
    }
    
    .invoice-box table tr td:nth-child(2){
        text-align:right;
    }
    
    .invoice-box table tr.top table td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.top table td.title{
        font-size:45px;
        line-height:45px;
        color:#333;
    }
    
    .invoice-box table tr.information table td{
        padding-bottom:40px;
    }
    
    .invoice-box table tr.heading td{
        background:#eee;
        border-bottom:1px solid #ddd;
        font-weight:bold;
    }
    
    .invoice-box table tr.details td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom:1px solid #eee;
    }
    
    .invoice-box table tr.item.last td{
        border-bottom:none;
    }
    
    .invoice-box table tr.total td:nth-child(2){
        border-top:2px solid #eee;
        font-weight:bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td{
            width:100%;
            display:block;
            text-align:center;
        }
        
        .invoice-box table tr.information table td{
            width:100%;
            display:block;
            text-align:center;
        }
    }
    </style>
</head>

<body >
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr  style="background-color:#3695d8" >
                            <td class="title">
                            </td>
                               <td>

                            </td>
                            <td >
                                <img src="https://dl.dropboxusercontent.com/u/106160993/email-header-3.png" style="width:100%; max-width:300px;">
                            </td>
                            <td>
                                Order ID #:  {{ id }}<br>
                                Created: {{ neworder.orderdate }}<br>
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                Suite 012<br>
                                The capital Hub<br>
                                Mabushi, Abuja
                                0804-444-YEDI
                            </td>


                            
                            <td>
                                Hello {{ neworder.user.name }}, below are the details of your order. <br> You will see status changes of individual items in 'Account > My Orders'<br>

                                Reply this email for any help you would like!
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
        </table>
        <table>
            

            
            <tr class="heading">

                <td>
                    Item
                </td>
                <td>
                    Qty
                </td>
                
                <td>
                    Price
                </td>
            </tr>
                {% for product in neworder.products %}
            <tr class="item">

                <td >
                    {{ product.productname }}
                </td>
                <td >
                    {{ product.qty }}
                </td>

                <td>
                    {{ product.saleprice | floatformat:2| intcomma }}
                </td>
            </tr>{% endfor %}
            


            
            <tr class="total">
                <td></td>
                <td></td>
                <td>
                   Total: {{ neworder.total  | floatformat:2| intcomma}}
                </td>
            </tr>
        </table>
        <p style="font-size: 8px; color: dodgerblue">Have any problems or ordered the wrong size or color? Would you like to cancel this order? Simply reply to this email with instructions or give use a call on 0803-YEDI-000</p>
    </div>
</body>
</html>
