 {% load humanize %}
    <style>

        .invoice-box{
        max-width:100%;
        margin:auto;
        padding:30px;
        border:1px solid #eee;
        box-shadow:0 0 10px rgba(0, 0, 0, .15);
        font-size:16px;
        line-height:24px;
        font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color:#555;
    }

    .invoice-box table{
        width:100%;
        line-height:inherit;
        text-align:left;
    }

    .invoice-box table td{
        padding:5px;
        vertical-align:top;
    }

    .invoice-box table tr td:nth-child(2){
        text-align:right;
    }

    .invoice-box table tr.top table td{
        padding-bottom:20px;
    }

    .invoice-box table tr.top table td.title{
        font-size:45px;
        line-height:45px;
        color:#333;
    }

    .invoice-box table tr.information table td{
        padding-bottom:40px;
    }

    .invoice-box table tr.heading td{
        background:#eee;
        border-bottom:1px solid #ddd;
        font-weight:bold;
    }

    .invoice-box table tr.details td{
        padding-bottom:20px;
    }

    .invoice-box table tr.item td{
        border-bottom:1px solid #eee;
    }

    .invoice-box table tr.item.last td{
        border-bottom:none;
    }

    .invoice-box table tr.total td:nth-child(2){
        border-top:2px solid #eee;
        font-weight:bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td{
            width:100%;
            display:block;
            text-align:center;
        }

        .invoice-box table tr.information table td{
            width:100%;
            display:block;
            text-align:center;
        }
    }

        ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.2em;
    bottom: -1.2em; 
}


    </style>
<center>
<img src="http://cdn.yedi.com.ng/media/Images/Logos/email-header-3.png" style="width:100%; max-width:300px;">
<h1 style="text-transform: uppercase">Order ID:  {{ id }}<br></h1>
 <h4> Created: {{ date}}</h4>
<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_7260988823915256075bodyTable" style="background:#ffffff">
<tr>
<td align="center" valign="top" id="m_7260988823915256075bodyCell">
<table border="0" cellpadding="0" cellspacing="0" id="m_7260988823915256075templateContainer" width="550" style="border-top:4px solid #fccc0e;border-bottom:4px solid #f44289;margin:20px 0">
<tr>
<td valign="top" class="m_7260988823915256075bodyContent" style="font-family:Helvetica,Arial;font-weight:300;font-size:15px;padding:40px 40px 20px;line-height:200%">

                                Hello {{ order.user.name }}, <br>
                                Your order is now ready for collection at:

                                <ul>
                                    <li>Suite 305, Print Store<br>
                                        Third Floor<br>
                                    The capital Hub<br>
                                    Mabushi, Abuja<br>
                                    Opening Hours: 10am - 6pm Mon - Sat<br>
                                    </li>
                                </ul>

                                Reply this email for any help you would like!

    

                            
<tr>
<td valign="top" class="m_7260988823915256075bodyContent" style="font-family:Helvetica,Arial;font-weight:300;font-size:14px;padding:0 40px;line-height:200%;border-top:1px solid #e6e8eb;border-bottom:1px solid #e6e8eb">
<table style="width:100%">
<tr>

<td>
     <strong>Image</strong>
</td>
    <td>
     <strong>Item</strong>
</td>
<td>
     <strong>Qty</strong>
</td>

<td>
   <strong>Price</strong>
</td>
</tr>
    {% for product in order.products %}
<tr class="item">

    <td >
     <img src="{{ product.image.url }}" style="height: 30px;width: auto"/>
   </td>
    <td >
        {{ product.productname }}
    </td>
    <td >
        {{ product.qty }}
    </td>

    <td>
        {{ product.saleprice | floatformat:2| intcomma }}
    </td>
</tr>{% endfor %}
</table>
</td>
</tr>
<tr>
<td valign="top" class="m_7260988823915256075bodyContent" style="font-family:Helvetica,Arial;font-weight:300;font-size:14px;padding:40px;line-height:200%;text-align:center">
<p style="text-align:left">
Yours,
</p>
<p style="text-align:left">
<strong style="font-weight:normal">Yedi App Team</strong>
</p>
</td>
</tr>
</table>
</td>
</tr>
</table>
    <p style="font-size: 8px; color: dodgerblue">Have any problems or ordered the wrong size or color? Would you like to cancel this order? Simply reply to this email with instructions or give use a call on 09068822180</p>

</center>
        