<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Yedi Emailer</title>
     {% load humanize %}
    <style>
    .invoice-box{
        max-width:100%;
        margin:auto;
        padding:30px;
        border:1px solid #eee;
        box-shadow:0 0 10px rgba(0, 0, 0, .15);
        font-size:16px;
        line-height:24px;
        font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color:#555;
    }
    
    .invoice-box table{
        width:100%;
        line-height:inherit;
        text-align:left;
    }
    
    .invoice-box table td{
        padding:5px;
        vertical-align:top;
    }
    
    .invoice-box table tr td:nth-child(2){
        text-align:right;
    }
    
    .invoice-box table tr.top table td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.top table td.title{
        font-size:45px;
        line-height:45px;
        color:#333;
    }
    
    .invoice-box table tr.information table td{
        padding-bottom:40px;
    }
    
    .invoice-box table tr.heading td{
        background:#eee;
        border-bottom:1px solid #ddd;
        font-weight:bold;
    }
    
    .invoice-box table tr.details td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom:1px solid #eee;
    }
    
    .invoice-box table tr.item.last td{
        border-bottom:none;
    }
    
    .invoice-box table tr.total td:nth-child(2){
        border-top:2px solid #eee;
        font-weight:bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td{
            width:100%;
            display:block;
            text-align:center;
        }
        
        .invoice-box table tr.information table td{
            width:100%;
            display:block;
            text-align:center;
        }
    }

             ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
}

    </style>
</head>

<body >
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr  style="background-color:#ffcf5b" >
                            <td class="title">
                            </td>
                               <td>

                            </td>
                            <td >
                                <img src="https://dl.dropboxusercontent.com/u/106160993/incoice.png" style="width:100%; max-width:300px;">
                            </td>
                            <td style="text-transform: uppercase">
                                Order ID #:  {{ orderid }}<br>
                                Created: {{ neworder.orderdate |date:"D d M Y" }} {{ neworder.orderdate |time:"H:i" }}<br>
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                Suite 012<br>
                                The capital Hub<br>
                                Mabushi, Abuja
                                0804-444-YEDI
                            </td>


                            
                            <td>
                                Hello {{ seller.name }}, <br>
                                Your order status has changed. Progress shown below<br><br>

                                <ol class="progtrckr" data-progtrckr-steps="5">
                                    <li class="progtrckr-done">Order Placed</li><!--
                                 --><li class="progtrckr-todo">Accepted by Seller</li><!--
                                 --><li class="progtrckr-todo">Received from Seller</li><!--
                                 --><li class="progtrckr-todo">Shipped</li><!--
                                 --><li class="progtrckr-todo">Delivered</li>
                                </ol>
                                <br><br>
                                Reply this email for any help you would like!
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
        </table>
        <table>
            

            
            <tr class="heading">

                <td>
                    Item
                </td>
                <td>
                    Qty
                </td>
                
                <td>
                    Price
                </td>
            </tr>
            <tr class="item">

                <td >
                    {{ product.productname }}
                </td>
                <td >
                    {{ product.qty }}
                </td>

                <td>
                    {{ product.saleprice | floatformat:2| intcomma }}
                </td>
            </tr>

        </table>
        <p style="font-size: 8px; color: dodgerblue">Have any problems or ordered the wrong size or color? Would you like to cancel this order? Simply reply to this email with instructions or give use a call on 0803-YEDI-000</p>
    </div>
</body>
</html>
